*~
*#
node_modules/
**/.turbo/
**/dist/
**/node_modules/
packages/ts_node/resources

bin/bin_repl.js
bin/bin_repl.ts

local
bin/local

apps/ts_next_app/public/docs/**
apps/ts_next_app/public/resources/docs/**
apps/ts_next_app/.next/
apps/ts_next_app/todo
apps/ts_next_app/old_pages
 
.turbo
**/.vercel/output/** 
todo
backup
